# temporary files
*~
.*.swp # vim
*.flc # xemacs
.DS_Store # MacOS
Thumbs.db # Windows

# python
*.pyc

# folder receiving the compilation products
/build
/install

# datas or personal files
/data
/TuttleOFX-data
/scripts
/*.sh

# tests
/.tests

# in case uncrustify.sh script fails, do not commit the temporary file
/files_to_uncrustify_delete_me.txt

# do not keep tuttlePluginCache.xml in case you one executes sam
/*.xml
/*.dot
/*.log

# netbeans projects
/nbproject

# visual projects
*.sln
*.suo
*.vcxproj
*.vcxproj.*
# visual projects create log files into directories
Debug
Release
Production

# plugins test files
/plugins/image/io/test/process.txt
/plugins/image/io/test/generate.txt
/plugins/image/io/test/result.html
/plugins/image/io/test/style.css
/plugins/image/io/test/*.png
/plugins/image/io/test/*.exr
/plugins/image/io/test/*.dpx
/plugins/image/io/test/*.tga
/plugins/image/io/test/*.sgi
/plugins/image/io/test/*.jpg
/plugins/image/io/test/*.j2k
/plugins/image/io/test/*.ppm
/plugins/image/io/test/*.tif
/plugins/image/io/test/*.rgbe
/plugins/image/io/test/*.hdr
