[submodule "libraries/sequenceParser"]
	path = libraries/sequenceParser
	url = http://github.com/mikrosimage/sequenceparser.git
[submodule "plugins/image/io/AudioVideo/avTranscoder"]
	path = plugins/image/io/AudioVideo/avTranscoder
	url = https://github.com/avTranscoder/avTranscoder.git
