[submodule "tools/sconsProject"]
	path = tools/sconsProject
	url = git://github.com/tuttleofx/sconsProject.git
[submodule "libraries/sequenceParser"]
	path = libraries/sequenceParser
	url = git://github.com/mikrosimage/sequenceparser.git
