[project]
	description = Tuttle OFX is a library to connect and batch operations with OpenFx plugins. It comes with a set of plugins that allows you to batch process on movies and file sequences.
[access "refs/*"]
	owner = group user/Marie FETIVEAU (mfe)
[access "refs/for/refs/*"]
	read = group user/Marie FETIVEAU (mfe)
	push = group user/Marie FETIVEAU (mfe)
	label-Code-Review = -2..+2 group user/Marie FETIVEAU (mfe)
	label-Verified = -1..+1 group user/Marie FETIVEAU (mfe)
	rebase = group user/Marie FETIVEAU (mfe)
	removeReviewer = group user/Marie FETIVEAU (mfe)
	submit = group user/Marie FETIVEAU (mfe)
[access "refs/heads/*"]
	read = group user/Marie FETIVEAU (mfe)
	create = group user/Marie FETIVEAU (mfe)
	push = +force group user/Marie FETIVEAU (mfe)
	pushMerge = group user/Marie FETIVEAU (mfe)
[access "refs/tags/*"]
	push = +force group user/Marie FETIVEAU (mfe)
	pushTag = group user/Marie FETIVEAU (mfe)
	pushSignedTag = group user/Marie FETIVEAU (mfe)
